@charset "UTF-8";

#card {
  cursor: pointer;
  margin-bottom: 2rem;
  border: solid 1px #cccccc;
  padding: 1rem;
  text-decoration: none;
  min-height: 11rem;
}

a.card:link  {
  text-decoration: none;
}

a.card:hover {
  color: #033E58;
  text-decoration: none;
}

.card a:focus {
  outline: solid 3px #FE781F;
}

a .text {
  color: #222222;
  text-decoration: none;
}

.text a:hover {
  color: #222222;
  text-decoration: none !important;
}


