.results {
	margin: 2rem 0;
}

.classification {
	padding: 0 1rem;
	color: #9B9B9B;
}

.results__block {
	margin-bottom: 1.5rem;
}

.results__block a {
	text-decoration: none;
}

.results__block a:hover {
	text-decoration: underline;
}
